PORT=8002
OPENAI_API_KEY=
SER_MODEL_URL=https://github.com/Noob-code7/InterviewApp/releases/download/v1.0-ser-model/best_model_path.pth
SER_MODEL_SHA256=B4CB9978C893D1D5D23BA03DEE13B58003EB25D669D3651D6C53BFB1A8198B35
SER_MODEL_PATH=
